flask==2.3.3
flask-cors==4.0.0
gunicorn==21.2.0
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.6.0
matplotlib==3.10.0
seaborn==0.13.2
pmdarima==2.0.4
scipy==1.12.0
geopandas==0.14.3
shapely==2.0.3
pytz==2025.2
pillow==11.2.1

#stats for ARIMA model
statsmodels==0.14.1

#for clustering
joblib==1.5.0

# Add package to help with compatibility
importlib-metadata==7.0.1

